<h2>{{ titre }}</h2>

<button mat-flat-button color="accent" [routerLink]="['/add']">
  Ajouter Devoir
</button>

<mat-list>
  @for (assignment of assignments; track assignment.id) {
    <mat-list-item>
      <div style="display: flex; justify-content: space-between; width: 100%;">
        <span [appRendu]="assignment.rendu">{{ assignment.nom }}</span>

        <button mat-icon-button
                color="primary"
                [routerLink]="['/edit', assignment.id]"
                [disabled]="!isAdmin">
          <mat-icon>edit</mat-icon>
        </button>
      </div>
    </mat-list-item>
  }
</mat-list>
