<h2>Modifier un devoir</h2>

<form (submit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Nom du devoir" [(ngModel)]="nom" name="nom">
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Date de rendu"
           [(ngModel)]="dateDeRendu" name="dateDeRendu">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="rendu" name="rendu">
    Marqué comme rendu
  </mat-checkbox>  

  <button mat-stroked-button color="primary">Enregistrer</button>
  
  @if (isLogged) {
    <button mat-raised-button color="warn"
            (click)="delete()"
            [disabled]="!isAdmin">
      Supprimer
    </button>
  }
  
  @if (isLogged && !isAdmin) {
    <p style="color: gray; font-size: 0.85rem;">
      Seuls les admins peuvent supprimer un devoir.
    </p>
  }
  
</form>
